.button {
    transition: 0.5s;

    &__loading {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__primary {
        border-radius: $border-radius;
        color: $white;
        background-color: $blue500;
        padding: 8px 18px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

        &--large {
            border-radius: $border-radius;
            color: $white;
            background-color: $blue500;
            padding: 16px 24px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
        }

        &--medium {
            border-radius: $border-radius;
            color: $white;
            background-color: $blue500;
            padding: 9px 24px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__secondary {
        border-radius: 6px;
        border: 1px solid $stroke;
        background: $white;
        padding: 9px 17px;
        text-align: center;

        color: $grey700;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    }

    &__icon {
        display: flex;
        justify-content: center;
        border-radius: $border-radius;
        padding: 9px 17px;
        border: 1px solid $stroke;
        background: $white;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

        > svg {
            height: 20px;
            aspect-ratio: 1/1;
        }
    }

    &__rounded {
        background: $white;

        display: flex;
        padding: 9px 15px;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        border: 1px solid $grey100;

        color: $grey500;

        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    }

    &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.025) 0 0);
    }

    &__custom {
        &--edit {
            display: flex;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;
            color: $grey700;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
        &--new-group {
            display: flex;
            padding: 7px 11px 7px 9px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            background: $blue200;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

            color: $blue500;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;

            &:before {
                content: $icon_new_group;
                height: 16px;
            }
        }

        &--regenerate-response {
            border-radius: 45px;
            background-color: $white;
            border: 1px solid $blue200;
            padding: 16px 24px;

            display: flex;
            width: fit-content;
            justify-content: center;
            align-items: center;
            gap: 10px;

            color: $grey900;

            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 21px */

            &:before {
                content: $icon_reload;
                height: 18px;
            }
        }

        &--explain-more {
            display: flex;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;

            border-radius: 6px;
            border: 1px solid $grey300;
            background: $grey100;

            /* shadow/sm */
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

            color: $grey700;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 142.857% */
        }

        &--approved-answer {
            display: flex;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;

            border-radius: 6px;
            border: 1px solid $grey300;
            background: $white;

            /* shadow/sm */
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

            color: $grey700;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 142.857% */
        }

        &--read {
            border-radius: 6px;
        }

        &--new-list {
            border-radius: 17px;
        }

        &--library {
            &-view {
                border-radius: 6px;
                color: $grey700;
                border: 1px solid $grey300;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }

            &-start {
                border-radius: 6px;
                color: $blue500;
                border: 1px solid $blue500;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }
        }

        &--choose-plan {
            position: absolute;
            width: 168px;
            height: 45px;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            background-color: $blue500;
            padding: 10.02px, 23.38px, 10.02px, 23.38px;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 45px;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
        }
    }
}
