.tips {
    padding: 16px 24px 16px 16px;
    border-radius: 8px;
    background: #dee5fe;

    color: $grey700;

    /* body-14 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}
