$primary-color: #1677ff;
$main-color: #b22201;
$layout-color : #743222;
$secondary-color: #001529;
$text-color-contrast: #fff;

$blue100: #f6f8ff;
$blue200: #e5ebff;
$blue500: #3a78ff;
$blue700: #000c3b;

$grey50: #f9fafb;
$grey100: #f3f4f6;
$grey200: #e5e7eb;
$grey300: #d1d5db;
$grey400: #9ca3af;
$grey500: #6b7280;
$grey550: #575757;
$grey600: #4b5563;
$grey700: #374151;
$grey900: #111827;

$black : #000000;

$red100 : #FF3A69;


$white: #ffffff;

$stroke: #cbcfd7;
$error: #d9534f;
$border-radius: 6px;

$inactive-text: #c7cad5;
$active-text: #f9fafb;